# Optimización del Activo
## Import de paquetes y funciones

In [1]:
library("readxl")
library("lubridate")
library('tidyr')
library('ggplot2')

Warning message:
"package 'readxl' was built under R version 3.6.3"Warning message:
"package 'lubridate' was built under R version 3.6.3"
Attaching package: 'lubridate'

The following objects are masked from 'package:base':

    date, intersect, setdiff, union

Warning message:
"package 'tidyr' was built under R version 3.6.3"

In [2]:
search()

 [1] ".GlobalEnv"        "package:ggplot2"   "package:tidyr"
 [4] "package:lubridate" "package:readxl"    "jupyter:irkernel"
 [7] "jupyter:irkernel"  "package:stats"     "package:graphics"
[10] "package:grDevices" "package:utils"     "package:datasets"
[13] "package:methods"   "Autoloads"         "package:base"

In [3]:
source("helpers.R")

## Import de bases de datos de los indices

In [4]:
path <- 'C:/Users/Diana C Contreras/OneDrive - Universidad de Los Andes/Riesgo Financiero/Talleres/T1-Riesgo/Taller 2/data/data.xlsx'

In [5]:
tes_cop <- read_excel(path, sheet=1,skip=7, col_names=c('Date','6m','1y','3y','5y','10y','15y'))

In [6]:
tes_cop <- tes_cop[tes_cop$Date >= "2012-04-26",]
yields <- c('6m','1y','3y','5y','10y','15y')
tes_cop[, yields] <- sapply(tes_cop[, yields], as.numeric)
head(tes_cop)

  Date       6m     1y     3y     5y     10y    15y
1 2012-04-27 5.4042 5.5328 6.0056 6.4139 6.9276 7.3809
2 2012-04-30 5.3703 5.5107 5.9953 6.4264 6.9410 7.3830
3 2012-05-01 5.3749 5.5176 6.0044 6.4312 6.9430 7.3839
4 2012-05-02 5.4176 5.5513 6.0613 6.4281 6.9308 7.3765
5 2012-05-03 5.4304 5.5508 6.0495 6.4076 6.8896 7.3203
6 2012-05-04 5.4570 5.5736 6.0911 6.4363 6.9042 7.3267

In [7]:
corp_usa <- read_excel(path, sheet='Corporativo A EEUU',skip=8, col_names=c('Date','3m','6m','1y','3y','5y','10y','15y'))
head(corp_usa)

  Date       3m     6m     1y     3y     5y     10y    15y
1 2009-10-13 1.1404 1.2181 1.5046 2.5661 3.4811 4.7076 5.3309
2 2009-10-14 1.1381 1.2208 1.5196 2.6013 3.5293 4.7843 5.4388
3 2009-10-15 1.1055 1.1932 1.5041 2.6295 3.5733 4.8308 5.4545
4 2009-10-16 1.2114 1.2897 1.5619 2.6139 3.5447 4.7820 5.4008
5 2009-10-19 1.1778 1.2627 1.5420 2.5997 3.5283 4.7502 5.3610
6 2009-10-20 1.1593 1.2421 1.5096 2.5454 3.4739 4.7214 5.3203

In [8]:
index <- read_excel(path, sheet='Indices Accionarios',skip=7, col_names=c('Date','colcap','spx'))
head(index)

  Date       colcap  spx
1 2009-10-13 1303.03 1073.19
2 2009-10-14 1294.39 1092.02
3 2009-10-15 1294.11 1096.56
4 2009-10-16 1301.69 1087.68
5 2009-10-19 1330.80 1097.91
6 2009-10-20 1315.97 1091.06

In [9]:
ipc <- read_excel(path, sheet='IPC',skip=1, col_names=c('Date','ipc'))
head(ipc)

  Date       ipc
1 1954-07-31 0.02632
2 1954-08-31 0.02612
3 1954-09-30 0.02576
4 1954-10-31 0.02585
5 1954-11-30 0.02591
6 1954-12-31 0.02605

In [10]:
trm <- read_excel(path, sheet='TRM',skip=1, col_names=c('Date','trm'))
head(trm)

  Date       trm
1 1991-11-27 693.32
2 1991-11-28 693.99
3 1991-11-29 694.70
4 1991-11-30 694.70
5 1991-12-01 643.42
6 1991-12-02 643.42

## Simulaciones a futuro